/* BASIC IMAGE STYLES */
.wyniwyg {
  display:block;
  margin:1em auto;
}

.wyniwyg-left {
  margin:0.5em 0.5em 0.5em 0;
  float:left;
}

.wyniwyg-right {
  margin:0.5em 0em 0.5em 0.5em;
  float:right;
}


.wyniwyg-center {
  margin:1em 0em 1em 0em;
  display:block;
  margin:auto;
}

pre {
  clear:both;
}

.wyniwyg-video {
  display:block;
  margin:auto;
  z-index:-1000;
}

.image-widget-data .image-size-container,
.image-widget-data .image-position-container,
.image-widget-data .image-command-container {
  float:left;
  padding-right:20px;
  margin-bottom:10px;
}
