/* BASIC IMAGE STYLES */
img.wyniwyg {
  display:block;
  margin:1em auto;
}

img.left {
  margin:0em 0.5em 0.5em 0;
  float:left;
}

img.right {
  margin:0em 0em 0.5em 0.5em;
  float:right;
}


img.center {
  margin:1em 0em 1em 0em;
  display:block;
  margin:auto;
}

pre {
  clear:both;
}

.wyniwyg-video {
  display:block;
  margin:auto;
  z-index:-1000;
}
